body {
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    color: #174e39;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: #448C72;
    padding: 5px 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    color: #78d6ca;
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

h1 {
    font-size: 35px;
}

main {
    margin: 20px auto;
    padding: 20px;
    max-width: 900px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main ol {
    list-style: decimal inside;
    margin: 20px 0;
    padding: 0;
}

main ol li {
    margin-bottom: 20px;
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

main ol li img {
    max-width: 180px;
    border-radius: 6px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 1);
}

main ol li p {
    flex: 1;
}

.website-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0;
    margin: 20px auto;
}

.website-links li {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    list-style-type: none;
}

.website-links li:hover {
    transform: scale(1.05);
}

.website-links a {
    background-color: none;
    text-decoration: none;
    color: #174e39;
    font-size: 18px;
}

#current-link{
    display: none;
}

footer {
    background-color: rgba(255, 255, 255, 0.4);
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
    color: #174e39;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
}

footer a {
    color: #448C72;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #78d6ca;
}