<!--Author: Konstantinos Dingelidis-->
.video-frame {
    border: 4px solid #448C72;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.video-frame:hover {
    transform: scale(1.05);
}
html {
    scroll-behavior: smooth;
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #448C72;
    color: white;
    padding: 10px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.scroll-top:hover {
    background-color: #78d6ca;
}



ol li, ul li {
    margin-bottom: 15px; 
}

ul {
    margin-top: 10px;  
}

ol {
    margin-top: 10px;  
}


.main-container {
    background-color: rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    margin: 50px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 30px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); 
}

body {
    margin: 0;
    background: url('../images/background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: "Roboto Mono", monospace;
    margin: 0;
    padding: 0;
}

main {
    display: block;
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 50px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon {
    display: inline-block;
    width: 50px;
    height: 50px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

section {
    margin-top: 0px;
}
nav {
    float:right;
    display: flex; 
    gap: 20px;
    
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: #448C72; 
    transition: color 0.3s ease, transform 0.3s ease; 
}

nav a:hover {
    color: #78d6ca; 
    transform: scale(1.1); 
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 50px; 
    background-color: rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
ul {
    list-style-type: none;
}
.website-links li {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display:inline-block;
    margin: 10px; 
    
}
.website-links {
    text-align: center; 
    padding: 0;
}


#scrollToTop {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;  
    color: #174e39;   
    background-color: #f0f0f0; 
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: opacity 0.2s, transform 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-top {
    padding: 0;
    border: none;  }


#bpm {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0; 
    color: transparent; 
    background-color: rgb(209, 255, 116); 
    background-image: url('../sound/megaphone1.svg'); 
    background-size: cover; 
    background-position: center;
    border: 2px solid black; 
    width: 3rem;    
    height: 3rem;
    border-radius: 50%; 
    transition: opacity 0.2s, transform 0.3s ease; 
    cursor: pointer;
}

#bpm:hover {
    cursor: pointer;
    background-color: #01522c;
    background-image: url('../sound/megaphone1.svg');
    transform: scale(1.1); 
}
.website-links li {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: inline-block;
    margin: 10px;
}

.website-links li:hover {
    transform: scale(1.05);
    background-color: #a0ffdf;
}

.website-links a {
    text-decoration: none;
    color: #174e39;
    font-size: 18px;
    flex-wrap: wrap;
    display: flex;
}


.background-section img {
    height: 250px;
    width: auto;
    flex: 1; 
}
.background-section p {
    padding: 20px;
    flex: 2; 
}   
.background-section {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    color: #174e39;
    margin: 50px auto;
    padding: 30px;
    max-width: 900px; 
}
#logo {
    height: 175px;
    width: auto;
}


footer {
    background-color: rgba(255, 255, 255, 0.4);
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
    color: #174e39;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
}

footer a {
    color: #448C72;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #78d6ca;
}
