body {
    background-image: url('../images/background.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style: none;
}
li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 50px; 
    background-color: rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#logo {
    height: 175px;
    width: auto;
}


nav {
    display: flex; 
    gap: 20px;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: #448C72;
    transition: color 0.3s ease, transform 0.3s ease; 
}

nav a:hover {
    color: #78d6ca;
    transform: scale(1.1); 
}


.background-section {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    color: #174e39;
    margin: 50px auto;
    padding: 30px;
    max-width: 900px; 
}

.background-section p {
    padding: 20px;
    flex: 2; 
}

.background-section img {
    height: 250px;
    width: auto;
    flex: 1; 
}


ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
}

ol > li {
    counter-increment: step-counter;
    font-size: 24px;
    margin-bottom: 40px;
    display: flex;
    list-style-type: none;
    align-items: center;
    color: #174e39;
}

ol > li::before {
    content: counter(step-counter) ".";
    font-size: 30px;
    font-weight: bold;
    color: #448C72;
    margin-right: 15px;
    list-style-type: none;
}

.step-content {
    flex: 2;
}

.step-image {
    flex: 1;
    text-align: center;
    margin-left: 20px;
}

.step-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul {
    margin: 10px 0 10px 40px;
    padding-left: 20px;
    list-style-type: disc;
}

ul li {
    font-size: 18px;
    color: #555;
}

.website-links {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 15px;
    padding: 0;
    margin: 20px auto;
}

.website-links li {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.website-links li:hover {
    transform: scale(1.05); 
}

.website-links a {
    text-decoration: none;
    color: #174e39;
    font-size: 18px;
}


footer {
    background-color: rgba(255, 255, 255, 0.4);
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
    color: #174e39;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
}


footer a {
    color: #448C72;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #78d6ca;
}
